<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Test</title>
</head>
    <body>
         <form action="/contact" method="post">
          <input type="text" name="name"/>
          <input type="submit" value="Register"/>
         </form>
    </body>
</html>